body {
  width: 500px;
  text-align: center;
  img {
    border-radius: 10px;
  }
}
h2 {
  text-transform: uppercase;

}
h3 {
  text-transform: uppercase;
}
li {
  list-style-type: none;
  display: inline;
}
#plus, #zero {
  width: 60px;
}
